@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  background: #ffffff;
}

.raleway-btn-card {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-style: normal;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
.display-flex {
  display: flex;
}
.bg-image {
  background-image: url(../assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image1 {
  background: url(../assets/bg.png),
    linear-gradient(
      360deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-repeat: no-repeat;
}
.text-gray {
  color: #202020;
}
.text-light-gray {
  color: #808080;
}
.collage-title{
  font-size: 1rem;
  font-weight: 700;
}
.highlight-collage-title{
  font-size: 1.5rem;
  font-weight: 700;
}
/* Navbar */
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}
#logo-kid {
  width: 62px;
  height: 62px;
}
/* only on responsive */
.menu-icon {
  display: none;
}
.brand {
  align-items: center;
}
.nav-title {
  font-size: 32px;
  font-weight: 700;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
#list-color1 {
  color: orange;
}
#list-color2 {
  color: skyblue;
}
#list-color3 {
  color: #05d4df;
}
#list-color4 {
  color: #5d58ef;
}
.btn-primary {
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 197px;
  height: 50px;
  background: #fea301;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
/* Banner content */
.banner-content {
  width: 40rem;
  height: 20.5rem;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.collage-description{
  font-size: 1rem;
  line-height: 1.75rem;
}
#color-org {
  color: #fea301;
}
#skyblue {
  color: skyblue;
}
.btn-secondary {
  width: 197px;
  height: 50px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: black;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
}
.btn-secondary:hover {
  background: #ffffff;
  color: black;
  border: 1px solid black;
}
.banner > img {
  max-width: 468px;
  max-height: 575px;
  width: 100%;
}
main {
  margin-bottom: 3.75rem;
}
/* curriculum section */
.std-curriculum,.our-stories {
  /* border: 2px solid red; */
  max-width: 1440px;
  margin: 0 auto;
}
.curriculum-title,
.stories-title {
  font-size: 2.9rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background: transparent;
}
.all-cards {
  /* border: 2px solid green; */
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 0 auto;
}
.card1 {
  width: 350px;
  height: 400px;
  padding: 30px;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 1px solid #def5ff;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
}
.card2 {
  width: 350px;
  height: 400px;
  padding: 30px;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 1px solid #fff4dc;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
}
.card3 {
  width: 350px;
  height: 400px;
  padding: 30px;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #ffffff;
  border: 1px solid #f2e8ff;
  box-shadow: inset 0px 0px 28.2958px 0.943193px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
}
.card-image {
  background: transparent;
  width: 141px;
  height: 141px;
}
.card-title {
  font-size: 1.54rem;
  font-weight: 700;
  background: transparent;
}
.card-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  background: transparent;
  margin-bottom: 30px;
}
.anchor1 {
  text-decoration: none;
  color: #64c8ff;
  font-size: 18px;
  font-weight: 700;
}
.anchor2 {
  text-decoration: none;
  color: #f0aa00;
  font-size: 18px;
  font-weight: 700;
}
.anchor3 {
  text-decoration: none;
  color: #8700ff;
  font-size: 18px;
  font-weight: 700;
}
.btn-backward,
.btn-forward {
  border: none;
}
.material-icons {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fea301;
  border: none;

  gap: 20px;
}
.btn-forward-previous {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 80px 0 60px 0;
}
/* Section end */
 /* {
  border: 2px solid red;
} */
.collage{
  background: transparent;
  gap: 40px;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;

}
.collage-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  background: transparent;
}
.collage-card{
  border-radius: 16px;
}
.highlight-collage-card {
  width: 650px;
  height: 700px;
  background: #ffffff;
  border-radius: 16px;
  align-items: center;
}
#btn-position {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  align-items: center;
}
.btn-collage{
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
  color: white;
  height: 60px;
  padding: 12px;
  border-radius: 50px;
  border: none;
}
.collage-cards{
  width: 650px;
  height: 710px;
}
.highlight-collage-card-img{
  max-width: 100%;
  border-radius: 16px 16px 0 0;
}
.collage-card-img{
  max-width: 100%;
  border-radius: 16px 16px 0 0;
}
#btn-color5{
  background: #3CD8E8;
}
#btn-color4{
  background: violet;
}
#btn-color3{
  background: green;
}
#btn-color2{
  background: #5D58F0;
}
#btn-color1{
  background: #95B226;
}
.highlight-collage-card-content{
  margin-top: -35px;
  width: 500px;
  padding: 0 40px;
  justify-content: center;
}
.collage-card-content{
  margin-top: -35px;
  width: 200px;
  padding: 0 40px;
  justify-content: center;
}

/* Responsive for mobile */
@media screen and (max-width: 576px) {
  .navbar {
    border: 0.5px solid #fea301;
    padding: 15px;
  }
  #logo-kid,
  .menu-icon {
    display: flex;
  }
  .nav-title,
  .nav-links,
  .btn-primary,
  .btn-forward-previous, .highlight-collage-card{
    display: none;
  }
  .banner {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .std-curriculum {
    margin-top: 30.3rem;
  }
  .all-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .collage-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}
